In [292]:
import pandas as pd
from pathlib import Path

In [293]:
import os  #Import os module
# Get the current working directory
cwd = os.getcwd()  
print(cwd)

C:\Users\Irina\Documents\BOOT CAMP\MY PROJECTS

In [313]:
# Change the current working directory
os.chdir('C:/Users/Irina/Documents/BOOT CAMP/MY PROJECTS') 
cwd = os.getcwd()
print(cwd)

C:\Users\Irina\Documents\BOOT CAMP\MY PROJECTS

In [344]:
# Read the csv file
data=pd.read_csv('Visas_project/Resources/visas_data.csv')

In [345]:
# Print the first 5 rows of the DF
data.head()

159

In [346]:
#Drop NAN values
data=data.dropna(axis=0)
data

152

In [320]:
# See datatype in the DF
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1 to 158
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Issuing Office  152 non-null    object
 1   2013            152 non-null    object
 2   2014            152 non-null    object
 3   2015            152 non-null    object
 4   2016            152 non-null    object
 5   2017            152 non-null    object
 6   2018            152 non-null    object
 7   2019            152 non-null    object
 8   2020            152 non-null    object
 9   2021            152 non-null    object
 10  2022            152 non-null    object
dtypes: object(11)
memory usage: 14.2+ KB

In [331]:
# # Replace "," with "." in numbers
# for key, value in data.iteritems():
#     data[key] = data[key].apply(lambda y: y.replace(",",".") if ',' in y else y)
# data
data=data.apply(lambda y: y.replace(",",".") if ',' in y else y)
data

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Angola. Luanda,28,43,38,66,58,85,101,28,79,341
2,Benin. Cotonou,284,306,275,422,424,460,512,179,351,629
3,Burkina Faso. Ouagadougou,317,206,288,333,314,323,287,103,280,307
4,Cabo Verde. Praia,1.304,813,1.033,1.817,2.035,1.488,1.417,672,581,858
5,Cameroon. Yaounde,2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.480,2.978,4.286
...,...,...,...,...,...,...,...,...,...,...,...
154,Trinidad and Tobago. Port of Spain,1.514,1.133,1.320,1.397,1.285,1.417,1.242,479,803,1.430
155,Uruguay. Montevideo,89,90,111,105,132,142,126,73,189,159
156,Venezuela. Caracas,1.865,1.955,2.442,2.582,2.917,3.072,842,no service,no service,no service
157,Western Hemisphere Total,191.199,180.733,223.766,260.922,247.341,245.080,176.966,85.948,113.769,213.702
158,Grand Totals,473.115,467.374,531.472,625.344,575.902,550.930,462.422,240.526,285.069,493.448

In [326]:
# Convert object data type to float in data
data_1 = data[["2013","2014",'2015','2016','2017','2018','2019','2020','2021','2022']].apply(pd.to_numeric, errors='coerce')
data_1

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,28.000,43.000,38.000,66.000,58.000,85.000,101.000,28.000,79.000,341.000
2,284.000,306.000,275.000,422.000,424.000,460.000,512.000,179.000,351.000,629.000
3,317.000,206.000,288.000,333.000,314.000,323.000,287.000,103.000,280.000,307.000
4,1.304,813.000,1.033,1.817,2.035,1.488,1.417,672.000,581.000,858.000
5,2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.480,2.978,4.286
...,...,...,...,...,...,...,...,...,...,...
154,1.514,1.133,1.320,1.397,1.285,1.417,1.242,479.000,803.000,1.430
155,89.000,90.000,111.000,105.000,132.000,142.000,126.000,73.000,189.000,159.000
156,1.865,1.955,2.442,2.582,2.917,3.072,842.000,NaN,NaN,NaN
157,191.199,180.733,223.766,260.922,247.341,245.080,176.966,85.948,113.769,213.702
158,473.115,467.374,531.472,625.344,575.902,550.930,462.422,240.526,285.069,493.448

In [327]:
# Insert the Issuing Office column to converted data df
extracted_col = data["Issuing Office"].values 
data_1.insert(0,"Issuing Office",extracted_col)

In [329]:
data_1

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Angola. Luanda,28.000,43.000,38.000,66.000,58.000,85.000,101.000,28.000,79.000,341.000
2,Benin. Cotonou,284.000,306.000,275.000,422.000,424.000,460.000,512.000,179.000,351.000,629.000
3,Burkina Faso. Ouagadougou,317.000,206.000,288.000,333.000,314.000,323.000,287.000,103.000,280.000,307.000
4,Cabo Verde. Praia,1.304,813.000,1.033,1.817,2.035,1.488,1.417,672.000,581.000,858.000
5,Cameroon. Yaounde,2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.480,2.978,4.286
...,...,...,...,...,...,...,...,...,...,...,...
154,Trinidad and Tobago. Port of Spain,1.514,1.133,1.320,1.397,1.285,1.417,1.242,479.000,803.000,1.430
155,Uruguay. Montevideo,89.000,90.000,111.000,105.000,132.000,142.000,126.000,73.000,189.000,159.000
156,Venezuela. Caracas,1.865,1.955,2.442,2.582,2.917,3.072,842.000,NaN,NaN,NaN
157,Western Hemisphere Total,191.199,180.733,223.766,260.922,247.341,245.080,176.966,85.948,113.769,213.702
158,Grand Totals,473.115,467.374,531.472,625.344,575.902,550.930,462.422,240.526,285.069,493.448

In [301]:
# Make a copy of data df
data_2=data.copy()
data_2

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Angola. Luanda,28,43,38,66,58,85,101,28,79,341
2,Benin. Cotonou,284,306,275,422,424,460,512,179,351,629
3,Burkina Faso. Ouagadougou,317,206,288,333,314,323,287,103,280,307
4,Cabo Verde. Praia,1.304,813,1.033,1.817,2.035,1.488,1.417,672,581,858
5,Cameroon. Yaounde,2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.480,2.978,4.286
...,...,...,...,...,...,...,...,...,...,...,...
154,Trinidad and Tobago. Port of Spain,1.514,1.133,1.320,1.397,1.285,1.417,1.242,479,803,1.430
155,Uruguay. Montevideo,89,90,111,105,132,142,126,73,189,159
156,Venezuela. Caracas,1.865,1.955,2.442,2.582,2.917,3.072,842,no service,no service,no service
157,Western Hemisphere Total,191.199,180.733,223.766,260.922,247.341,245.080,176.966,85.948,113.769,213.702
158,Grand Totals,473.115,467.374,531.472,625.344,575.902,550.930,462.422,240.526,285.069,493.448

In [332]:
# Remove the rows with 'no service' 
data_trimmed=data_2[~data_2[['2013','2014', '2015','2016','2017','2018','2019','2020','2021','2022']].\
         isin(['no service']).any(axis=1)]
data_trimmed

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,Angola. Luanda,28,43,38,66,58,85,101,28,79,341
2,Benin. Cotonou,284,306,275,422,424,460,512,179,351,629
3,Burkina Faso. Ouagadougou,317,206,288,333,314,323,287,103,280,307
4,Cabo Verde. Praia,1.304,813,1.033,1.817,2.035,1.488,1.417,672,581,858
5,Cameroon. Yaounde,2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.480,2.978,4.286
...,...,...,...,...,...,...,...,...,...,...,...
152,Peru. Lima,5.124,4.067,5.406,5.906,4.942,5.693,4.711,1.879,1.713,4.403
154,Trinidad and Tobago. Port of Spain,1.514,1.133,1.320,1.397,1.285,1.417,1.242,479,803,1.430
155,Uruguay. Montevideo,89,90,111,105,132,142,126,73,189,159
157,Western Hemisphere Total,191.199,180.733,223.766,260.922,247.341,245.080,176.966,85.948,113.769,213.702
158,Grand Totals,473.115,467.374,531.472,625.344,575.902,550.930,462.422,240.526,285.069,493.448

In [282]:
# # Create a new df without issuing offices that offered no services at some point during the 10 years
# data_2=data_2[~data_2[['2013','2014', '2015','2016','2017','2018','2019','2020','2021','2022']].\
#          isin(['no service']).any(axis=1)]
# data_2

In [333]:
# Convert object data type to float in data_trimmed
df_trimmed = data_trimmed[["2013","2014",'2015','2016','2017','2018','2019','2020','2021','2022']].apply(pd.to_numeric, errors='coerce')
df_trimmed

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,28.000,43.000,38.000,66.000,58.000,85.000,101.000,28.000,79.000,341.000
2,284.000,306.000,275.000,422.000,424.000,460.000,512.000,179.000,351.000,629.000
3,317.000,206.000,288.000,333.000,314.000,323.000,287.000,103.000,280.000,307.000
4,1.304,813.000,1.033,1.817,2.035,1.488,1.417,672.000,581.000,858.000
5,2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.480,2.978,4.286
...,...,...,...,...,...,...,...,...,...,...
152,5.124,4.067,5.406,5.906,4.942,5.693,4.711,1.879,1.713,4.403
154,1.514,1.133,1.320,1.397,1.285,1.417,1.242,479.000,803.000,1.430
155,89.000,90.000,111.000,105.000,132.000,142.000,126.000,73.000,189.000,159.000
157,191.199,180.733,223.766,260.922,247.341,245.080,176.966,85.948,113.769,213.702
158,473.115,467.374,531.472,625.344,575.902,550.930,462.422,240.526,285.069,493.448

In [334]:
# Insert the Issuing Office column to df_trimmed df
extracted_col = data_trimmed["Issuing Office"].values 
df_trimmed.insert(0,"Issuing Office",extracted_col)

In [307]:
#  Cjeck datatype in df_trimmed
df_trimmed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 139 entries, 1 to 158
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Issuing Office  139 non-null    object
 1   2013            139 non-null    float64
 2   2014            139 non-null    float64
 3   2015            139 non-null    float64
 4   2016            139 non-null    float64
 5   2017            139 non-null    float64
 6   2018            139 non-null    float64
 7   2019            139 non-null    float64
 8   2020            139 non-null    float64
 9   2021            139 non-null    float64
 10  2022            139 non-null    float64
dtypes: float64(10), object(1)
memory usage: 13.0+ KB

In [335]:
#Extract df_trimmed
data_trimmed.to_csv('visa_trimmed.csv', index=False)

In [336]:
# Export data_1 df
data_1.to_csv('visa_all.csv', index=False)