In [140]:
import pandas as pd
from pathlib import Path

In [141]:
import os  #Import os module
# Get the current working directory
cwd = os.getcwd()  
print(cwd)

C:\Users\Irina\Documents\BOOT CAMP\MY PROJECTS

In [142]:
# Change the current working directory
os.chdir('C:/Users/Irina/Documents/BOOT CAMP/MY PROJECTS') 
cwd = os.getcwd()
print(cwd)

C:\Users\Irina\Documents\BOOT CAMP\MY PROJECTS

In [143]:
# Read the csv file
data=pd.read_csv('Visas_project/Resources/visas_data.csv')

In [144]:
# Print the first 5 rows of the DF
data.head()

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"Angola, Luanda",28,43,38,66,58,85,101,28,79,341
2,"Benin, Cotonou",284,306,275,422,424,460,512,179,351,629
3,"Burkina Faso, Ouagadougou",317,206,288,333,314,323,287,103,280,307
4,"Cabo Verde, Praia","1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858

In [145]:
#Drop NAN values
data=data.dropna(axis=0)
data

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,"Angola, Luanda",28,43,38,66,58,85,101,28,79,341
2,"Benin, Cotonou",284,306,275,422,424,460,512,179,351,629
3,"Burkina Faso, Ouagadougou",317,206,288,333,314,323,287,103,280,307
4,"Cabo Verde, Praia","1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858
5,"Cameroon, Yaounde","2,325","2,103","2,861","3,587","2,971","3,268","3,021","1,480","2,978","4,286"
...,...,...,...,...,...,...,...,...,...,...,...
154,"Trinidad and Tobago, Port of Spain","1,514","1,133","1,320","1,397","1,285","1,417","1,242",479,803,"1,430"
155,"Uruguay, Montevideo",89,90,111,105,132,142,126,73,189,159
156,"Venezuela, Caracas","1,865","1,955","2,442","2,582","2,917","3,072",842,no service,no service,no service
157,Western Hemisphere Total,"191,199","180,733","223,766","260,922","247,341","245,080","176,966","85,948","113,769","213,702"
158,Grand Totals,"473,115","467,374","531,472","625,344","575,902","550,930","462,422","240,526","285,069","493,448"

In [161]:

#Create a new df without issuing office that offered no services at ome point during the 10 years
data_2=data[~data[['2013','2014', '2015','2016','2017','2018','2019','2020','2021','2022']].\
         isin(['no service']).any(axis=1)]
data_2

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,"Angola, Luanda",28,43,38,66,58,85,101,28,79,341
2,"Benin, Cotonou",284,306,275,422,424,460,512,179,351,629
3,"Burkina Faso, Ouagadougou",317,206,288,333,314,323,287,103,280,307
4,"Cabo Verde, Praia","1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858
5,"Cameroon, Yaounde","2,325","2,103","2,861","3,587","2,971","3,268","3,021","1,480","2,978","4,286"
...,...,...,...,...,...,...,...,...,...,...,...
152,"Peru, Lima","5,124","4,067","5,406","5,906","4,942","5,693","4,711","1,879","1,713","4,403"
154,"Trinidad and Tobago, Port of Spain","1,514","1,133","1,320","1,397","1,285","1,417","1,242",479,803,"1,430"
155,"Uruguay, Montevideo",89,90,111,105,132,142,126,73,189,159
157,Western Hemisphere Total,"191,199","180,733","223,766","260,922","247,341","245,080","176,966","85,948","113,769","213,702"
158,Grand Totals,"473,115","467,374","531,472","625,344","575,902","550,930","462,422","240,526","285,069","493,448"

In [122]:
# pip install ydata-profiling
# from ydata_profiling import ProfileReport

In [123]:
# ProfileReport(data)

In [124]:
# See datatype in the DF
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1 to 158
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Issuing Office  152 non-null    object
 1   2013            152 non-null    object
 2   2014            152 non-null    object
 3   2015            152 non-null    object
 4   2016            152 non-null    object
 5   2017            152 non-null    object
 6   2018            152 non-null    object
 7   2019            152 non-null    object
 8   2020            152 non-null    object
 9   2021            152 non-null    object
 10  2022            152 non-null    object
dtypes: object(11)
memory usage: 14.2+ KB

In [125]:
x=data.drop(columns=["Issuing Office"])
x.head()
# print(type(x))
# data_years=data.drop(columns=["Issuing Office"])

# data_years.head()

    2013   2014   2015   2016   2017   2018   2019   2020   2021   2022
1     28     43     38     66     58     85    101     28     79    341
2    284    306    275    422    424    460    512    179    351    629
3    317    206    288    333    314    323    287    103    280    307
4  1,304    813  1,033  1,817  2,035  1,488  1,417    672    581    858
5  2,325  2,103  2,861  3,587  2,971  3,268  3,021  1,480  2,978  4,286

In [129]:
def search_string(s, search):
    return search in str(s)
mask = x.applymap(lambda y: ~search_string(y, '-'))
filtered_df = x.loc[mask.any(axis=1)]
filtered_df

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,28,43,38,66,58,85,101,28,79,341
2,284,306,275,422,424,460,512,179,351,629
3,317,206,288,333,314,323,287,103,280,307
4,"1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858
5,"2,325","2,103","2,861","3,587","2,971","3,268","3,021","1,480","2,978","4,286"
...,...,...,...,...,...,...,...,...,...,...
154,"1,514","1,133","1,320","1,397","1,285","1,417","1,242",479,803,"1,430"
155,89,90,111,105,132,142,126,73,189,159
156,"1,865","1,955","2,442","2,582","2,917","3,072",842,-,-,-
157,"191,199","180,733","223,766","260,922","247,341","245,080","176,966","85,948","113,769","213,702"
158,"473,115","467,374","531,472","625,344","575,902","550,930","462,422","240,526","285,069","493,448"

In [130]:
# for key, value in data_years.iteritems():
#     data_years[key] = data_years[key].apply(lambda x: data_years.replace(",",".") if ',' in data_years else data_years)

In [25]:
# data_years.head()

In [26]:
for key, value in x.iteritems():
    x[key] = x[key].apply(lambda y: y.replace(",",".") if ',' in y else y)

In [27]:
x.head()
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [28]:
# Convert object data type to float
x = x.apply(pd.to_numeric, errors='coerce')
x.info()
print(type(x))

<class 'pandas.core.frame.DataFrame'>
Int64Index: 152 entries, 1 to 158
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2013    145 non-null    float64
 1   2014    145 non-null    float64
 2   2015    147 non-null    float64
 3   2016    146 non-null    float64
 4   2017    148 non-null    float64
 5   2018    149 non-null    float64
 6   2019    147 non-null    float64
 7   2020    147 non-null    float64
 8   2021    146 non-null    float64
 9   2022    146 non-null    float64
dtypes: float64(10)
memory usage: 13.1 KB
<class 'pandas.core.frame.DataFrame'>

In [29]:
# Insert the Issuing Office column
extracted_col = data["Issuing Office"].values 
x.insert(0,"Issuing Office",extracted_col)

In [283]:
x.head()
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [284]:
# Add the nmbers for each row
col_list= list(x)
col_list.remove('Issuing Office')
x['Sum'] = x[col_list].sum(axis=1)
print(type(x))

<class 'pandas.core.frame.DataFrame'>

In [285]:
x.head()

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Sum
1,"Angola, Luanda",28.000,43.000,38.000,66.000,58.000,85.000,101.000,28.00,79.000,341.000,867.000
2,"Benin, Cotonou",284.000,306.000,275.000,422.000,424.000,460.000,512.000,179.00,351.000,629.000,3842.000
3,"Burkina Faso, Ouagadougou",317.000,206.000,288.000,333.000,314.000,323.000,287.000,103.00,280.000,307.000,2758.000
4,"Cabo Verde, Praia",1.304,813.000,1.033,1.817,2.035,1.488,1.417,672.00,581.000,858.000,2933.094
5,"Cameroon, Yaounde",2.325,2.103,2.861,3.587,2.971,3.268,3.021,1.48,2.978,4.286,28.880

In [286]:
print(type(x))
# .max()

<class 'pandas.core.frame.DataFrame'>

In [287]:
# Find max number of visas issued for 10 years
max_total = x[x.iloc[:, 11]==x["Sum"].max()]
max_total

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Sum
91,"Spain, Madrid",773.0,808.0,936.0,883.0,801.0,901.0,782.0,536.0,907.0,1.287,7328.287

In [288]:
# Find min number of visas issued for 10 years
min_total = x[x.iloc[:, 11]==x["Sum"].min(), skipna=True]
min_total    #office didn't provide immigrant visa services during these years

SyntaxError: invalid syntax (676320170.py, line 2)

In [266]:
c = x[x.iloc[:,2:11]>80000]
c
# for key, value in x.iteritems():
    # x[key] = x[key].apply(lambda x: x.replace(",",".") if ',' in x else x)
    # print(value=="NaN")
    # if value.all()=="NaN":
    #     print(value)
#         min1_total = x[x.iloc[:, 11]==x["Sum"].min()]
# min1_total

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Sum
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
154,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
155,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
157,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
158,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:


data[['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']] = data[['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022']].apply(pd.to_string)   
    
# data['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'] = data['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'].astype(int)

In [ ]:
x=data.drop(columns=["Issuing Office"])
# print(x.info())
for name, values in x.iteritems():
    print(type(values))
    values.strip()

In [ ]:
# data(sum['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'],axis='columns'))

In [170]:
for i in x[["2013",'2014','2015','2016','2017','2018','2019','2020','2021','2022']]:
    i.strip()

In [175]:
# import NumPy
import numpy as np

,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Total,Sum
1,28,43,38,66,58,85,101,28,79,341,"Angola, Luanda2843386658851012879341Angola, Lu...","2843386658851012879341Angola, Luanda2843386658..."
2,284,306,275,422,424,460,512,179,351,629,"Benin, Cotonou284306275422424460512179351629Be...","284306275422424460512179351629Benin, Cotonou28..."
3,317,206,288,333,314,323,287,103,280,307,"Burkina Faso, Ouagadougou317206288333314323287...","317206288333314323287103280307Burkina Faso, Ou..."
4,"1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858,"Cabo Verde, Praia1,3048131,0331,8172,0351,4881...","1,3048131,0331,8172,0351,4881,417672581858Cabo..."
5,"2,325","2,103","2,861","3,587","2,971","3,268","3,021","1,480","2,978","4,286","Cameroon, Yaounde2,3252,1032,8613,5872,9713,26...","2,3252,1032,8613,5872,9713,2683,0211,4802,9784..."
...,...,...,...,...,...,...,...,...,...,...,...,...
154,"1,514","1,133","1,320","1,397","1,285","1,417","1,242",479,803,"1,430","Trinidad and Tobago, Port of Spain1,5141,1331,...","1,5141,1331,3201,3971,2851,4171,2424798031,430..."
155,89,90,111,105,132,142,126,73,189,159,"Uruguay, Montevideo899011110513214212673189159...","899011110513214212673189159Uruguay, Montevideo..."
156,"1,865","1,955","2,442","2,582","2,917","3,072",842,-,-,-,"Venezuela, Caracas1,8651,9552,4422,5822,9173,0...","1,8651,9552,4422,5822,9173,072842---Venezuela,..."
157,"191,199","180,733","223,766","260,922","247,341","245,080","176,966","85,948","113,769","213,702","Western Hemisphere Total191,199180,733223,7662...","191,199180,733223,766260,922247,341245,080176,..."
158,"473,115","467,374","531,472","625,344","575,902","550,930","462,422","240,526","285,069","493,448","Grand Totals473,115467,374531,472625,344575,90...","473,115467,374531,472625,344575,902550,930462,..."

In [ ]:
x=x.drop(columns=["Sum", "Total"])

In [205]:
for i in x[["2013",'2014','2015','2016','2017','2018','2019','2020','2021','2022']]:
    i = i.replace(",", ".")
    if i!="-":
        i=float(i)
print(type(i))
#    
# tt="1,304"
# tt = tt.replace(",", ".")
# tt=float(tt)
# print(type(tt))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

In [260]:

for values in x:
    print (values)
#     values = values.replace(",", ".")
   
#     if values!="-":
#         values=float(values)
#     print(type(values))
# x.info()

2013
2014
2015
2016
2017
2018
2019
2020
2021
2022

In [313]:

# x['2015'] = x['2015'].apply(lambda x: x.replace(",",".") if ',' in x else x)
# #x.loc[x['2014'].str.contains(',', case=False), '2014'] = x.loc[x['2014']].replace(",",".")
for key, value in x.iteritems():
    x[key] = x[key].apply(lambda x: x.replace(",",".") if ',' in x else x)

#     for v in value:
#         # print(v)
#         v = v.replace(",", ".")
#         if v!="-":
#             v=float(v)
#         x.replace(value, v)

#         # print(type(value))

#         # print(type(v))
print(x.head())
   
#     if operator.contains(value, ","):
    
#         print("yes")
#     else:
#         print("no")
        # value=value.replace(",",".")
        # print(value)
   

# # x.info()
# value="1,304"
# value=value.replace(",",".")
# print(value)

         2013 2014   2015   2016   2017   2018   2019   2020   2021   2022
1          28   43     38     66     58     85    101     28     79    341
2         284  306    275    422    424    460    512    179    351    629
3         317  206    288    333    314    323    287    103    280    307
4  ball sport  813  1.033  1.817  2.035  1.488  1.417    672    581    858
5  ball sport    .  2.861  3.587  2.971  3.268  3.021  1.480  2.978  4.286

In [207]:
# col_list= list(data)
# col_list.remove('Issuing Office')
# x=x.drop(columns='Sum')
data_sum=x.sum(axis=1)
data_sum.head()
# print(x.head())
# data_sum.head()

1                               2843386658851012879341
2                       284306275422424460512179351629
3                       317206288333314323287103280307
4           1,3048131,0331,8172,0351,4881,417672581858
5    2,3252,1032,8613,5872,9713,2683,0211,4802,9784...
dtype: object

In [101]:
data['Total']= data.sum(axis=1)
data.head()

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Total
1,"Angola, Luanda",28,43,38,66,58,85,101,28,79,341,"Angola, Luanda2843386658851012879341Angola, Lu..."
2,"Benin, Cotonou",284,306,275,422,424,460,512,179,351,629,"Benin, Cotonou284306275422424460512179351629Be..."
3,"Burkina Faso, Ouagadougou",317,206,288,333,314,323,287,103,280,307,"Burkina Faso, Ouagadougou317206288333314323287..."
4,"Cabo Verde, Praia","1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858,"Cabo Verde, Praia1,3048131,0331,8172,0351,4881..."
5,"Cameroon, Yaounde","2,325","2,103","2,861","3,587","2,971","3,268","3,021","1,480","2,978","4,286","Cameroon, Yaounde2,3252,1032,8613,5872,9713,26..."
...,...,...,...,...,...,...,...,...,...,...,...,...
154,"Trinidad and Tobago, Port of Spain","1,514","1,133","1,320","1,397","1,285","1,417","1,242",479,803,"1,430","Trinidad and Tobago, Port of Spain1,5141,1331,..."
155,"Uruguay, Montevideo",89,90,111,105,132,142,126,73,189,159,"Uruguay, Montevideo899011110513214212673189159..."
156,"Venezuela, Caracas","1,865","1,955","2,442","2,582","2,917","3,072",842,-,-,-,"Venezuela, Caracas1,8651,9552,4422,5822,9173,0..."
157,Western Hemisphere Total,"191,199","180,733","223,766","260,922","247,341","245,080","176,966","85,948","113,769","213,702","Western Hemisphere Total191,199180,733223,7662..."
158,Grand Totals,"473,115","467,374","531,472","625,344","575,902","550,930","462,422","240,526","285,069","493,448","Grand Totals473,115467,374531,472625,344575,90..."

In [97]:
total_by_office=data.sum(axis='columns')
total_by_office

1                   Angola, Luanda2843386658851012879341
2           Benin, Cotonou284306275422424460512179351629
3      Burkina Faso, Ouagadougou317206288333314323287...
4      Cabo Verde, Praia1,3048131,0331,8172,0351,4881...
5      Cameroon, Yaounde2,3252,1032,8613,5872,9713,26...
                             ...
154    Trinidad and Tobago, Port of Spain1,5141,1331,...
155       Uruguay, Montevideo899011110513214212673189159
156    Venezuela, Caracas1,8651,9552,4422,5822,9173,0...
157    Western Hemisphere Total191,199180,733223,7662...
158    Grand Totals473,115467,374531,472625,344575,90...
Length: 152, dtype: object

In [92]:
df_by_office=data.groupby(['2013','2014','2015','2016','2017','2018','2019','2020','2021','2022'])

In [93]:
df_by_office.sum()

                                                                         Issuing Office
2013  2014  2015  2016  2017  2018  2019  2020  2021  2022
-     -     -     -     -     570   815   402   516   798              Kosovo, Pristina
                        1     2     -     1     -     -             Denmark, Copenhagen
                        300   528   469   182   585   1,601         Kyrgyzstan, Bishkek
                  368   351   486   522   216   387   1,152              Rwanda, Kigali
            227   2,015 1,547 2,132 1,754 632   508   832               Sudan, Khartoum
...                                                                                 ...
89    90    111   105   132   142   126   73    189   159           Uruguay, Montevideo
9,508 7,201 6,092 9,020 6,297 8,018 6,521 3,546 4,762 4,219              Nigeria, Lagos
921   901   1,006 1,123 1,203 1,174 1,043 776   764   2,009  South Africa, Johannesburg
928   805   1,249 1,126 1,621 1,776 1,965 892   816   2,738            Georgia, Tbilisi
97    80    78    99    135   138   235   112   270   237               Bahrain, Manama

[152 rows x 1 columns]

In [124]:
data.head()

,Issuing Office,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,Total,Sum
1,"Angola, Luanda",28,43,38,66,58,85,101,28,79,341,"Angola, Luanda2843386658851012879341Angola, Lu...","2843386658851012879341Angola, Luanda2843386658..."
2,"Benin, Cotonou",284,306,275,422,424,460,512,179,351,629,"Benin, Cotonou284306275422424460512179351629Be...","284306275422424460512179351629Benin, Cotonou28..."
3,"Burkina Faso, Ouagadougou",317,206,288,333,314,323,287,103,280,307,"Burkina Faso, Ouagadougou317206288333314323287...","317206288333314323287103280307Burkina Faso, Ou..."
4,"Cabo Verde, Praia","1,304",813,"1,033","1,817","2,035","1,488","1,417",672,581,858,"Cabo Verde, Praia1,3048131,0331,8172,0351,4881...","1,3048131,0331,8172,0351,4881,417672581858Cabo..."
5,"Cameroon, Yaounde","2,325","2,103","2,861","3,587","2,971","3,268","3,021","1,480","2,978","4,286","Cameroon, Yaounde2,3252,1032,8613,5872,9713,26...","2,3252,1032,8613,5872,9713,2683,0211,4802,9784..."